In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/raw/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [13]:
df.drop('SkinThickness', axis='columns')
df.drop('BloodPressure', axis='columns')
df.drop('Insulin', axis='columns')
df.dropna()
df.drop(df[df['Age']>90].index)
df.drop(df[df['Age']<21].index)
df.sort_values('Age')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
df.drop('SkinThickness', axis='columns').drop('BloodPressure', axis='columns').drop('Insulin', axis='columns').dropna().drop(df[df['Age']>90].index).drop(df[df['Age']<21].index).sort_values('Age')

     Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age  Outcome
255            1      113  33.6                     0.543   21        1
60             2       84   0.0                     0.304   21        0
102            0      125  22.5                     0.262   21        0
182            1        0  27.7                     0.299   21        0
623            0       94  43.5                     0.347   21        0
..           ...      ...   ...                       ...  ...      ...
123            5      132  26.8                     0.186   69        0
684            5      136   0.0                     0.640   69        0
666            4      145  32.5                     0.235   70        1
453            2      119  19.6                     0.832   72        0
459            9      134  25.9                     0.460   81        0

[768 rows x 6 columns]

In [22]:
def load_and_process(path):
    #Method Chain #1 loading from csv file, dropping missing value and unussed columns
    
    df = (pd.read_csv(path)
    .drop('SkinThickness', axis='columns').drop('BloodPressure', axis='columns')
    .drop('Insulin', axis='columns').dropna())
          
    #Method Chain #2 dropping unrealistic values and processing
    
    df2 = (df.drop(df[df['Age']>90].index)
    .drop(df[df['Age']<21].index).sort_values('Age'))

    return df2

In [24]:
df = load_and_process("../data/raw/diabetes.csv")
df

     Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age  Outcome
255            1      113  33.6                     0.543   21        1
60             2       84   0.0                     0.304   21        0
102            0      125  22.5                     0.262   21        0
182            1        0  27.7                     0.299   21        0
623            0       94  43.5                     0.347   21        0
..           ...      ...   ...                       ...  ...      ...
123            5      132  26.8                     0.186   69        0
684            5      136   0.0                     0.640   69        0
666            4      145  32.5                     0.235   70        1
453            2      119  19.6                     0.832   72        0
459            9      134  25.9                     0.460   81        0

[768 rows x 6 columns]